<button onclick="window.location.href = document.URL + '/subjects'" >Dodaj predmet</button><br>
<button onclick="window.location.href = document.URL + '/class'" >Dodaj ucionicu</button><br>
<button onclick="window.location.href = document.URL + '/student'" >Dodaj ucenika</button><br>
<button onclick="window.location.href = document.URL + '/teacher'" >Dodaj profesora</button><br>
<button onclick="window.location.href = document.URL + '/data'" >Baza podataka</button><br>
<button onclick="window.location.href = document.URL + '/classes'" >Ucionice</button><br>
<button onclick="window.location.href = document.URL + '/teachers'" >Profesori</button><br>
<button onclick="window.location.href = document.URL + '/logout'">Log Out</button>
<br><br>
